.git
.gitignore
HISTORY.md
mayan/media
db.sqlite*
docker/*
!docker/Dockerfile
!docker/rootfs
./.*
docs
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.env
.venv/
venv/
.pytest_cache/
*.egg-info/
build/
dist/

